version: "2.0"

services:
  api:
    image: __AKASH_IMAGE__
    expose:
      - port: 8000
        as: 80
        to:
          - global: true

profiles:
  compute:
    api:
      resources:
        cpu:
          units: 0.5
        memory:
          size: 512Mi
        storage:
          size: 1Gi
  placement:
    global:
      pricing:
        api:
          denom: uakt
          amount: 1000

deployment:
  api:
    global:
      profile: api
      count: 1
